.container {
    margin: 0px 166px;

}

.img-logo {
    width: 300px;
    height: 100px;
}

body {
    margin: 0;
    padding: 0;
    background-image:url(https://shuba.life/static/content/thumbs/1905x1016/a/59/fevmxn---c1905x1016x50px50p-up--f7fd19bca1a6bd7e19e0b04082c6e59a.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
header {
    background-color: #63A6DB;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

}

.nav a,.call {
    text-decoration: none;
    color: #a15f0a;
    font-size: 25px;
    margin: 10px;

}

.nav a:hover,.call:hover {
    border-bottom: 3px solid #a15f0a;

}

.mainimg img{
    position: absolute;
    width:1000px; left:500px; top:130px;
 }